@model ContactModel
@{
    ViewData["Title"] = "Here's contacts";
}

<h1>Contact Page(privacy)</h1>

<form method="post" asp-controller="Contacts" asp-action="Check">
    
    <div class="form-floating mb-3">
        <input type="text" class="form-control" placeholder="Name"/>
        <label for="Name" asp-for="Name"></label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" placeholder="Email">
      <label for="Email" asp-for="Email"></label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" placeholder="Password">
      <label for="Password" asp-for="Password"></label>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>